<h1>Edit:</h1>

<form action="/recipes/:id" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="recipe">Recipe Name:
    <input type="text" name="recipe" value="test">
  </label> <br>
  <input type="submit" name="submit" value="Edit This Recipe">
</form>

<br><br>

<form action="/recipes/:id/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value="Delete This Recipe">
</form