<!-- RECIPE BOOKMARKER HOMEPAGE  -->
<h1>Welcome to Recipe Bookmarker</h1>
<h2><em>New Recipes Added Daily</em></h2>
<!-- Iterate over Recipe.all to create a list -->
<% @recipes.each do |recipe| %>
  <li><h3> <a href="/recipes/<%= recipe.id %>"> <%= recipe.name %> </a> </h3></li>
<% end %>

<br> <hr> <br>
<!-- Links to show User's homepage, and to add a new Recipe Bookmark  -->
<a href="/homepage"> Go to your Homepage </a>
<br>
<a href="/recipes/new"> Add Your New Recipe </a>