<h1>Create A New Recipe</h1>

<form action="/recipes" method="POST">
  <p>New Recipe: <textarea type="text" name="list" placeholder="New Recipe"></textarea></p>
  <input type="submit" value="save" />
</form>