<h1>Add A New Recipe</h1>

<form action="/recipes" method="post">
  <label for="recipe[list]">Recipe Name:
    <input type="text" name="recipe[list]">
  </label> <br>
  <label for="ingredients[list]">Ingredients:</label><br>
<textarea name="ingredients" id="ingredients" cols="30" rows="10"></textarea><br>
  <label for="instructions[list]">Instructions:</label><br>
<textarea name="instructions" id="instructions" cols="30" rows="10"></textarea><br>
  <input type="submit" value="save" />
</form>