<h1>Create A New Recipe</h1>

<form action='/runs' method="post">
    <label for="recipes_names">Recipe Name:</label>
    <textarea name="recipes_names" id="recipes_names" cols="30" rows="1"></textarea><br>
    <label for="ingredients">Ingredients:</label><br>
    <textarea name="ingredients" id="ingredients" cols="30" rows="10"></textarea><br>
    <label for="instructions">Instructions:</label><br>
    <textarea name="instructions" id="instructions" cols="30" rows="10"></textarea><br>
    <input type="submit" value="Add">
</form>