<h1>All Recipes</h1>


<p>
  <form action="/recipes" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
<br />

<p>
<a href="/recipes">Edit Recipe </a>
</p>