<h1>Welcome to my recipe application</h1>
<br />

<br /> -->
<label for="signup"><a href="/signup">Sign-Up</a></label>
</p>

<br /> -->
<label for="login"><a href="/login">Sign-In</a></label>
</p>

<br /> -->
<label for="signout"><a href="/signout">Sign-Out</a></label>
</p>